header {

    .header-wrapper{
        color: white;
        display: flex;
        justify-content: space-between;
        justify-items: stretch;
        padding: 0rem 2rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #1a1919c4;
        z-index: 1;

        @media screen and (max-width: 768px){
            padding: 0.8rem 0.5rem;
            align-items: center;
        }

        @media screen and (min-width: 1441px){
            padding: 0.5rem 12rem;
        }

        & > * {
            display: flex;
            align-items: center;
        }

        .logo-block{
            flex: 0.3;
            justify-self: baseline;
            // justify-content: flex-start;
            // flex-shrink: default;
            // width: auto;

            img{
                width: auto;
                height: auto;
            }

            @media screen and (max-width: 768px){
                flex: 0.4;
            }
        }
        nav {
            flex: 1;
            .header__nav__menu-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-around;
                .menu {
                    font-size: 0.95rem;
                    padding: 2rem 0;
    
                    @media screen and (max-width: 768px){
                        display: none;
                    }
                }
    
                
                .menu:hover{
                    &>.submenu {
                        animation: fadeInMenu 0.5s ease-in-out forwards;
                        display: block;
                        cursor: auto;
                    }
                }
    
                .submenu {
                    background: white;
                    position: absolute;
                    color: black;
                    padding: 1.5rem 3rem 0.5rem 0.5rem;
                    display: none;
    
                    .subitem {
                        cursor: pointer;
                        margin-bottom: 1rem;
                    }
                }
            }
        

        }
        .form-nav-block {
            flex: 0.3;
            font-size: 1.05em;
            justify-content: flex-end;

            .underline {
                width: 100%;
                margin-top: 0.6rem;
                border: 1.5px solid #6a65f8;
                background: #6a65f8;
            }

            @media screen and (max-width: 768px){
                display: none;
            }
        }

        .menu-bar-icon {
            display: none;

            @media screen and (max-width: 768px){
                display: block;
                font-size: 1.4rem;
                margin: 0 0.2rem;
                padding: 0 0.2rem;
                cursor: pointer;
            }
        }
    }
}

@keyframes fadeInMenu {
    from{
        opacity: 0;
        transform: translateY(4rem);
    }to{
        opacity: 1;
        
        transform: translateY(2rem);
    }
}
