header {
    width: 100%;
    position: absolute;
    z-index: 1;
    color: white;
    background: none;

    nav {
        width: 40rem;
    }

    .header-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;

        @media screen and (min-width: 1441px){
            padding: 1rem 12rem;
        }

        & > * {
            display: flex;
            align-items: center;
            border : 0.5px solid red;
        }

        .logo-block{
            flex: 0.5;
            justify-content: flex-start;
            flex-shrink: default;

            img{
                width: auto;
                height: auto;
            }
        }
    
        .header__nav__menu-wrapper {
            flex: 1;
            display: flex;
            justify-content: space-around;
        }
    
        .form-nav-block {
            flex: 0.5;
            justify-content: flex-end;
        }
    }


}
