header {
    width: 100%;
    height: auto;
    color: white;

    nav {
        width: 40rem;
    }

    .header-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #1a1919c4;
        z-index: 1;


        @media screen and (min-width: 1441px){
            padding: 0.5rem 12rem;
        }

        & > * {
            display: flex;
            align-items: center;
        }

        .logo-block{
            flex: 0.4;
            justify-content: flex-start;
            flex-shrink: default;

            img{
                width: auto;
                height: auto;
            }
        }
    
        .header__nav__menu-wrapper {
            flex: 1;
            display: flex;
            justify-content: space-around;

            .menu {
                font-size: 0.95rem;
                padding: 2rem 0;
            }

            
            .menu:hover{
                &>.submenu {
                    animation: fadeInMenu 0.5s ease-in-out forwards;
                    display: block;
                    cursor: auto;
                }
            }

            .submenu {
                background: white;
                position: absolute;
                color: black;
                padding: 1.5rem 3rem 0.5rem 0.5rem;
                display: none;

                .subitem {
                    cursor: pointer;
                    margin-bottom: 1rem;
                }
            }
        }
    
        .form-nav-block {
            flex: 0.4;
            font-size: 1.05em;
            justify-content: flex-end;

            .underline {
                width: 100%;
                margin-top: 0.6rem;
                border: 1.5px solid #6a65f8;
                background: #6a65f8;
            }
        }
    }
}

@keyframes fadeInMenu {
    from{
        opacity: 0;
        transform: translateY(4rem);
    }to{
        opacity: 1;
        
        transform: translateY(2rem);
    }
}
