// ---------일괄 적용 스타일----------
.section__wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
}

@mixin buttonStyle {
        outline: none;
        border: none;
        border-radius: 25px;
        width: auto;
        padding: 0.95rem 2.1rem;
        font-size: 1rem;
        color: white;
        background: #615cfd;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }to {
        opacity: 1;
        tranmform: translateX(0rem);
    }
}

// ---------------------------------

.section1{
    .wrapper1 {
        background: rgb(0, 0, 0);
        color: white;
        position: relative;

        .section1-background{
            opacity: 0.4;
        }

        .section1__contents-block{
            position: absolute;
            left: 11.5%;
            animation: slideFadeIn .6s forwards linear;


            @media screen and (min-width: 1441px){
                left: 28%;
            }

            @media screen and (max-width: 1440px){
                left: 5%;
                bottom: 18%;
            }

            .section1__text {
                line-height: 5.3rem;
                font-size: 4.85rem;
                width: 50rem;
                margin: 0;
                margin-bottom: 2.5rem;
                font-family: roboto, sans-serif;

                @media screen and (max-width: 1440px){
                    font-size: 3rem;
                    line-height: 3.5rem;
                }

                @media screen and (max-width: 768px){
                    font-size: 3rem;
                    width: 35rem;
                    line-height: 4rem;
                }

    
            }
    
            .section1__btn {
                @include buttonStyle;
            }

        }
    }
}

.section2{
    .wrapper2{

        padding: 9.875rem 2rem;
        .section2__title-block {
            display: inherit;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 100%;

            .section2__contents__subtitle {
                font-weight: 500;
            }

            .section2__contents__title{
                font-size: 2.5rem;
                width: 30rem;
                text-align: center;
                margin: 1.4rem auto;
                letter-spacing: -0.1rem;
            }
        }

        .section2__contents-block {
            display: inherit;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem 2.8rem;
            
            .contents-box {
                border: 1px solid red;
                display: inherit;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                width: 16rem;
                padding: 3rem 1rem;
                
                .section2__contents__title{
                    margin: 2rem 0;
                    font-weight: 500;
                }

                .section2__contents__desc{
                    text-align: center;
                    width: 13rem;
                }

                .img-box{
                    width: 3.5rem;
                }
            }
        }


    }
}

.section3{ 
    .wrapper3 {
        flex-flow: row nowrap;
        height: 38rem;
        .section3__left{
            box-sizing: border-box;
            flex: 1;
            height: 100%;
            .section3__img {
                width: 100%;
                height: 100%;
                object-fit:  cover;
            }
        }

        .section3__right {
            background-color: #1F1F1F;
            color: #fafafa;
            flex: 1;
            height: 100%;
            display: inherit;
            font-family: 'Muli, sans-serif';
            .contents-block {
                padding: 6rem 5.6rem 5rem;
                display: inherit;
                flex-flow: column wrap;
                justify-content: flex-start;
                
                .section__contents__category{
                    margin-bottom: 3.4rem;
                }

                .section3__contents__title {
                    font-size: 2.1rem;
                    font-family: 'Roboto';
                    font-weight: 500;
                    flex: 0;
                    margin: 2.3rem 0 1.4rem;
                }

                .section3__contents__desc {
                    color: #c9c8c8;
                }

                .section3__btn {
                    @include buttonStyle;
                    margin-top: 2.625rem;
                    align-self: start;
                }
            }
        }
        

    }
}

.section4 {
    padding: 9.875rem 2rem;
    box-sizing: border-box;
    .section4__contents-block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        
        .section4__contents__title {
            // font-size: 2.3rem;
            margin: 2rem auto;
        }

        .section4__contents__desc {
            width: 34rem;
            text-align: center;
            color: #727272;
        }

    }
    .section4__images-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1rem;

        
        img {
            width: 100%;
        }

        .block-top, .block-bottom {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
        }

        .block-top {
            height: 28rem;
            margin-bottom: 1rem;
            box-sizing: border-box;

            .block-left {
                width: 40rem;
                padding-right: 0.5rem;
                height: 100%;

            }

            .block-right {
                width: 24rem;
                height: 100%;
            }
        }

        .block-bottom {
            // border: 1px solid red;
            height: 24.5rem;
            .block-left {
                display: flex;
                width: 40rem;
                height: 100%;
                padding-right: 0.5rem;
                justify-content: space-between;
                .img-box:nth-child(2) {
                    margin-left: 0.5rem;
                }

            }

            .block-right {
                width: 24rem;
                height: 100%;
                
            }
        }
    }
}

.section5 {
    padding: 8rem 0;
    .wrapper5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;

        .block-left {
            box-sizing: border-box;
            flex: 0.5;
            padding: 0 5rem;

            .comment {
                margin-top: 2.2rem;
                margin-bottom: 2.3rem;
                
            }

            .desc {
                color: #494848;
            }

            .button-block {
                display: flex;
                align-items: center;
                font-family: Roboto, sans-serif;
                margin-top: 3rem;
                i {
                    font-size: 3.5rem;
                    color: #615cfd;
                    border-radius: 30px;
                    margin-right: 1.2rem;
                }

                .button-text {
                    font-size: 1.2rem;
                }
            }
        }

        .block-right {
            flex: 0.7;
            .img-box {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                img{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 80%;
                    object-fit: contain;
                }
            }
        }
    }
}

.section6 {
    padding: 8rem 0;
    .wrapper6 {

        .section6__block-top {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            .desc {
                text-align: center;
                width: 28rem;
            }
        }

        .section6__block-bottom {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 0 4rem;

            .section6__block-bottom__wrapper{
                display: inherit;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .name {
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                }

                .desc {
                    margin: 0;

                }
            }
        }
    }
}

.section7 {
    .wrapper7 {
        color: #ffffff;
        position: relative;
        .section7-background {
            opacity: 0.7;
        }

        .contents-block {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            padding: 1rem 3.73rem;

            .quote {
                margin-bottom: 1.9rem;
            }

            .desc {
                color: #ffffff;
                font-size: 1.5rem;
                text-align: center;
                line-height: 2rem;
                margin: 0;
            }

            .profile-box {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                .profile-img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 25px;
                    overflow: hidden;
                    margin: 1rem auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .career {
                    font-size: 0.8rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

.section8 {
    .wrapper8 {
        padding: 8rem 0;
        .section8__block-top {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            .text-contents-box {
                display: inherit;
                flex-flow: inherit;
                justify-content: inherit;
                align-items: inherit;
                width: 70%;
                .title, .desc {
                    text-align: center;
                }
            }

        }

        .section8__block-bottom {
            display: flex;
            flex-flow:column nowrap;
            justify-content: center;
            align-items: center;
            width: 75%;
            padding: 3rem 14rem;

            input,textarea {
                border-radius: 25px;
                padding: 0.9rem 1rem;
                outline: none;
                border: 1px solid  #8080807a;
            }

            & > div {
                margin: 0.6rem;
            }

            .input-box1 {
                display: inherit;
                width: 100%;
                justify-content: space-between;

                input {
                    flex: 0.48;
                }
            }
            .input-box2 {
                display: inherit;
                width: 100%;

                input {
                    width: 100%;
                }
            }

            .input-box3 {
                display: inherit;
                width: 100%;

                textarea {
                    display: inherit;
                    width: 100%;
                }
            }

            .submit-box {
                display: inherit;
                width: 100%;

                input {
                    @include buttonStyle;
                    width: 100%;
                    cursor: pointer;
                    
                }
            }
        }
    }

}
