// @media screen and (max-width: 425px){

// }

// @media screen and (min-width: 426px) and (max-width: 768px){

// }

// @media screen and (min-width: 769px) and (max-width: 1024px){

// }

// @media screen and (min-width: 1024px){

// }

// ---------일괄 적용 스타일----------
.section__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: auto;


}

@mixin buttonStyle {
        outline: none;
        border: 1px solid #615cfd;
        border-radius: 25px;
        width: auto;
        padding: 0.95rem 2.1rem;
        font-size: 1rem;
        color: white;
        background: #615cfd;

        &:hover {
            animation: buttonHover .2s forwards linear;

        }
}

//text 컨텐츠 슬라이드 페이드인 애니메이션 효과
@keyframes slideFadeIn1 {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }to {
        opacity: 1;
        tranmform: translateX(0rem);
    }
}

@keyframes slideYfadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }to {
        opacity: 1;
        tranmform: translateY(0rem);
    }
}


@keyframes buttonHover {
    from{
        background-color: #615cfd;
        color: white;
    }to{
        background: none;
        color: #615cfd;

    }
}

@keyframes boxHover {
    from {
        border-color: #E8E8E8;
    }to{
        border-color: #615CFD;
    }
}

// ---------------------------------

.section1{
    .wrapper1 {
        background: rgb(0, 0, 0);
        color: white;
        position: relative;
        width: 100%;
        padding: 0;
        @media screen and (max-width: 426px){
            bottom: 40%;
            height: 85vh;
        }

        @media screen and (min-width: 426px) and (max-width: 768px){
            height: 100vh;
            padding: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1440px){
            height: 120vh;
            padding: 0;
        }

        .section1-background{
            opacity: 0.4;
            width: 100%;
            height: 100%;
        }

        .section1__contents-block{
            position: absolute;
            left: 5%;

            .section1__text {
                line-height: 5.3rem;
                font-family: roboto, sans-serif;
                opacity: 0;
                animation: slideFadeIn1 .6s forwards linear;
            }

            @media screen and (max-width: 426px){
                bottom: 20%;
                .section1__text {
                    font-size: 1.9rem;
                    line-height: 2rem;
                    width: 89%;
                    margin: 0 0 15%;
                }
            }

            @media screen and (min-width: 426px) and 
            (max-width: 768px){
                bottom: 12%;

                .section1__text {
                    font-size: 3rem;
                    line-height: 4rem;
                    width: 89%;
                    margin: 0 0 15%;
                }
            }

            @media screen and (min-width: 769px) and (max-width: 1024px){
                bottom: 20%;
                left: 5%;
                
                .section1__text{
                    font-size: 2.8rem;
                    line-height: 3.5rem;
                    width: 85%;
                    margin: 0 0 5%;
                }
            }

            @media screen and (min-width: 1025px){
                .section1__text{
                    font-size: 4.6rem;
                    line-height: 5rem;
                    width: 70%;
                    margin: 0 0 5%;
                }
            }   


            .section1__btn-block {
                opacity: 0;
                animation: slideFadeIn2 .6s .4s forwards linear;
            }
    
            .section1__btn {
                @include buttonStyle;
            }

        }
    }
}

.section2{
    .wrapper2{
        padding: 15% 1%;
        .section2__title-block {
            display: inherit;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .section2__contents__subtitle {
                font-weight: 600;
                color: #615cfd;
            }

            .section2__contents__title{
                text-align: center;
            }
        }

        .section2__contents-block {
            display: inherit;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            
            .contents-box {
                border: 2px solid #E8E8E8;
                border-radius: 5px;
                display: inherit;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                &:hover {
                    animation: boxHover .3s forwards linear;
                }
                .section2__contents__title{
                    font-weight: 400;
                    font-family: "Roboto", sans-serif;
                }

                .section2__contents__desc{
                    text-align: center;
                    width: 80%;
                    line-height: 190%;
                    color: #727272;
                }
                .img-box{
                    width: 3.5rem;
                }
            }
        }
        




        @media screen and (min-width: 325px) and (max-width: 767px){
            .section2__title-block {
                display: inherit;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                .section2__contents__subtitle {
                    font-weight: 600;
                    font-size: 0.8rem;
                    color: #615cfd;
                }
    
                .section2__contents__title{
                    font-size: 180%;
                    margin: 7% 0 3%;
                    letter-spacing: 0.02rem;
                }
            }
    
            .section2__contents-block {
                display: inherit;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;
                @media screen and (min-width: 538px){
                    width: 33rem;
                }
                padding: 3% 2%;
                
                .contents-box {
                    border: 2px solid #E8E8E8;
                    border-radius: 5px;
                    display: inherit;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 15% 0;
                    
                    .section2__contents__title{
                        margin: 7% 0 3%;
                        font-weight: 400;
                        font-family: "Roboto", sans-serif;
                    }
    
                    .section2__contents__desc{
                        text-align: center;
                        width: 80%;
                        line-height: 190%;
                        color: #727272;
                    }
    
                    .img-box{
                        width: 3.5rem;
                    }

                    & {
                        margin-top: 8%;
                    }
                }
            }
        }
    
        @media screen and (min-width: 768px) and (max-width: 1024px){
            .section2__title-block {
                width: 95%;

                .section2__contents__title{
                    margin: 3% 0 0;
                }
            }
            .section2__contents-block {
                display: inherit;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                box-sizing: border-box;
                padding: 2%;
                margin-top: 10%;
                
                .contents-box {
                    border: 2px solid #E8E8E8;
                    border-radius: 5px;
                    display: inherit;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 5% 0.5%;
                    flex: 0.29;
                    
                    .section2__contents__title{
                        font-weight: 400;
                        font-family: "Roboto", sans-serif;
                        margin: 12% 0 8%;
                    }
    
                    .section2__contents__desc{
                        text-align: center;
                        width: 80%;
                        line-height: 190%;
                        color: #727272;
                    }
    
                    .img-box{
                        width: 3.5rem;
                    }
    
                }
            }
        }
    
        @media screen and (min-width: 1025px){  //너비가 1025px 이상인 디바이스일 때 적용할 css style
            padding: 10% 1%;                    // ex) 노트북~ 데스크탑 모니터
            .section2__title-block {
                width: 40%;
                line-height: 300%;

                .section2__contents__title{
                    margin: 3% 0 0;
                }
            }
            .section2__contents-block {
                margin-top: 4%;
                padding: 0 9.7%;
                justify-content: space-around;
                .contents-box {
                    width: 30%;
                    flex: 0.31;
                    padding: 5% 0.5%;
                    
                    .section2__contents__title{
                        margin: 6% 0 4%;
                    }
                }

            }
        }
    }
}

.section3{ 
    .wrapper3 {
        flex-flow: row nowrap;
        height: 95vh;
        .section3__left{
            box-sizing: border-box;
            flex: 1;
            height: 100%;
            .section3__img {
                width: 100%;
                height: 100%;
                object-fit:  cover;
            }
        }

        .section3__right {
            background-color: #1F1F1F;
            color: #fafafa;
            flex: 1;
            display: inherit;
            align-items: center;
            font-family: 'Muli, sans-serif';
            .contents-block {
                display: inherit;
                flex-flow: column wrap;
                justify-content: flex-start;
                box-sizing: border-box;
                
                
                .section3__contents__category {
                    font-family: 'Roboto';
                }

                .section3__contents__title {
                    font-size: 2.1rem;
                    font-weight: 500;
                    flex: 0;
                    margin: 2.3rem 0 1.4rem;
                }

                .section3__contents__desc {
                    color: #c9c8c8;
                    // width: 28rem;
                }

                .section3__btn {
                    @include buttonStyle;
                    margin-top: 2.625rem;
                    align-self: start;
                }
            }
        }
        
        
        @media screen and (min-width:320px) and (max-width: 426px){
            height: 85vh;
            .section3__left{
                display: none;
            }
    
            .section3__right {

                .contents-block {
                    padding: 6rem 1em 5rem 0.9rem;
                    display: inherit;
                    flex-flow: column wrap;
                    justify-content: flex-start;
                    width: 100%;
                    .section__contents__category{
                        margin-bottom: 3.4rem;
                        
                    }
                    .section3__contents__title {
                        font-size: 1.7rem;
                        font-weight: 500;
                        flex: 0;
                        margin: 2rem 0 2.7rem;
                        }
    
                        .section3__contents__desc {
                            color: #c9c8c8;
                            letter-spacing: -0.5px;
                            // width: 28rem;
                        }
    
                        .section3__contents__comment {
                            letter-spacing: -0.5px;
                        }
                }

            }
        }

        @media screen and (min-width: 426px) and (max-width: 991px){
            height: 81vh;

            .section3__left{
                display: none;
            }
    
            .section3__right {

                .contents-block {
                    padding: 6rem 2rem 5rem 2.2rem;
                    display: inherit;
                    flex-flow: column wrap;
                    justify-content: flex-start;
                    width: 100%;
                    .section__contents__category{
                        margin-bottom: 3.4rem;
                        
                    }
                    .section3__contents__title {
                        font-size: 2.3rem;
                        font-weight: 500;
                        flex: 0;
                        margin: 2rem 0 2.7rem;
                        }
    
                        .section3__contents__desc {
                            color: #c9c8c8;
                            letter-spacing: -0.5px;
                            // width: 28rem;
                        }
    
                        .section3__contents__comment {
                            letter-spacing: -0.5px;
                        }
                }

            }
        }

        @media screen and (min-width: 991px) and (max-width: 1024px){
            .section3__left{
                box-sizing: border-box;
                height: 100%;
                .section3__img {
                    width: 100%;
                    height: 100%;
                    object-fit:  cover;
                }
            }
    
            .section3__right {
                background-color: #1F1F1F;
                height: 100%;
                .contents-block {
                    padding: 3.5rem 0.1rem 3.5rem 1rem ;
                    margin-left: 3rem;
                    width: 26rem;
                }
            }
        }

        @media screen and (min-width: 1025px){
            .section3__right {
                background-color: #1F1F1F;
                height: 100%;

                .contents-block {
                    padding: 3rem 4rem 4rem;
                    width: 35rem;
                    .section3__contents__title {
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                        width: 100%;
                        font-size: 2.5rem;
                        letter-spacing: -0.1rem;
                    }

                    .section3__contents__desc {
                        width: 28rem;
                        letter-spacing: -0.01rem;
                    }

                    .section3__contents__comment {
                        width: 30rem;
                        letter-spacing: 0.02rem;
                    }
                    // margin-left: 3rem;
                }
            }
        }



    }
}

.section4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    
    .section4__contents-block{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 12%;

        .section4__contents__title {
            font-size: 2.3rem;
            margin: 2rem auto;
            text-align: center;
        }

        .section4__contents__desc {
            width: 70%;
            text-align: center;
            color: #727272;
        }
    }

    .section4__imgs-block {
        display: grid;
        // grid-template-columns: repeat(3, 1fr);  //창 크기에 따라 width 변화됨

        //1440px / 1224px / 
        grid-template-columns: repeat(3, 20rem);
        grid-gap: 2rem;
        grid-auto-rows: 350px;
        justify-items: center;
        
        .img-box {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            width: 100%;
        }

        .img-box img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: inherit;
        }



    }

    @media screen and (min-width: 320px) and (max-width: 576px){
        padding: 3rem 3%;

        .section4__contents-block{
            .section4__contents__desc {
                width: 100%;
            }
        }

        .section4__imgs-block {
            // grid-template-columns: repeat(1, 1fr);
            grid-template-columns: 1fr;
            grid-gap: 1.8rem;
            grid-auto-rows: minmax(10rem, auto);
            
            

            .img-box:nth-child(odd) {
                // grid-column: auto;
            }
        }
    
    }

@media screen and (min-width: 576px) and (max-width: 768px){
    padding: 4rem 2%;

    .section4__imgs-block {
        grid-template-columns: repeat(1, 32rem);
        grid-gap: 1.8rem;
        // background: gray;
        grid-auto-rows: minmax(300px,auto);
        
        .img-box:nth-child(odd) {
            grid-column: auto;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 992px){
    padding: 8rem 1rem;

    .section4__contents-block{
        .section4__contents__desc {
            width: 95%;
        }
    }

    .section4__imgs-block {

        grid-template-columns: repeat(4, 9.5rem);
        grid-gap: 1.8rem;
        // background: gray;
        grid-auto-rows: 330px;
        .img-box:nth-child(odd) {
            grid-column: 3/5;
        }

        .img-box:nth-child(even) {
            grid-column: 1/3;
        }

        .img-box:nth-child(1) {
            grid-column: 1/5;
        }
    }
}

@media screen and (min-width:992px) and (max-width: 1200px){
    padding: 8rem 3rem;

    .section4__contents-block{
        .section4__contents__desc {
            width: 65%;
        }
    }

    .section4__imgs-block {
        display: grid;
        padding: 0 6rem;
        // grid-template-columns: repeat(3, 1fr);  //창 크기에 따라 width 변화됨
        .img-box:nth-child(1) {
            grid-column: 1/3;
        }
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        // background: gray;
        grid-auto-rows: 350px;
        
    }
}

@media screen and (min-width: 1200px) {
    padding: 8rem 6rem;
    .img-box:nth-child(1) {
        grid-column: 1/3;
    }
}

}

.section5 {
    padding: 10rem 0;
    box-sizing: border-box;
    .wrapper5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;

        .block-left {
            box-sizing: border-box;
            flex: 0.5;
            padding: 0 10%;

            .comment {
                margin-top: 2.2rem;
                margin-bottom: 2.3rem;
                
            }

            .desc {
                color: #494848;
            }

            .button-block {
                display: flex;
                align-items: center;
                font-family: Roboto, sans-serif;
                margin-top: 3rem;
                i {
                    font-size: 3.5rem;
                    color: #615cfd;
                    border-radius: 30px;
                    margin-right: 1.2rem;
                }

                .button-text {
                    font-size: 1.2rem;
                }
            }
        }

        .block-right {
            flex: 0.7;
            .img-box {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                img{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    width: 100%;
                    height: 100vh;
                    object-fit: fill;
                }
            }
        }
    }


@media screen and (min-width: 320px) and (max-width: 768px){
    padding: 3rem 0;
    .wrapper5 {
        display: block;

        .block-right {
            display: none;
        }

        .block-left {
            padding: 0 2.2%;
            box-sizing: border-box;

            .title {
                font-size: 1.8rem;
            }

            .comment {
                margin: 5% 0 5%;
                
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .wrapper5 {
        display: block;

        .block-left {
            box-sizing: border-box;
            padding: 0 7%;

            .comment {
                margin: 3% 0 3%;
                
            }
        }

        .block-right {
            display: none;
        }
    }

}


}

.section6 {
    padding: 8rem 1rem;
    .wrapper6 {

        .section6__block-top {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            .desc {
                text-align: center;
                width: 28rem;
            }
        }

        .section6__block-bottom {
            display: flex;
            flex-flow: row wrap;
            width: 72rem;
            justify-content: space-around;
            padding: 0 ;
            margin-top: 5rem;

            .block-bottom__content-box{
                flex: 0.2;
                width: 250px;
                display: inherit;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;

                .img-box {
                    text-align: center;
                    width: 100%;
                    height: 270px;

                    img {
                        width: 100%;
                    }
                }

                .name {
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                }

                .desc {
                    justify-self: flex-end;
                    margin: 0;

                }
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px){
        padding: 7rem 6% 4rem;
        .wrapper6 {
    
            .section6__block-top {
                .title {
                    font-size: 2rem;
                }
    
                .desc {
                    text-align: center;
                    width: 100%;
                    margin: 1.5rem 0;
                }
            }
    
            .section6__block-bottom {
                width: 100%;
                margin-top: 1rem;
                display: block;
                
                .block-bottom__content-box{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 1rem 0;
    
                    .img-box {
                        width: 100%;
                        height: auto;
                    img{
                        width: 100%;
                        object-fit: fill;
                    }
                }
                }
                
            }
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px){
        .wrapper6 {
    
            .section6__block-bottom {
                padding: 0 ;
                width: 100%;
    
                .block-bottom__content-box{
                    width: 320px;
                    margin: 1rem;
    
                    .img-box {
                        width: 320px;
                        height: 380px;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1199px){
        padding: 0 1rem 8rem;
        .wrapper6 {
    
            .section6__block-top {
            
                .title {
                    font-size: 2.4rem;
                }
            }
    
            .section6__block-bottom {
                width: 59rem;
    
            }
        }
    }
}
.section7 {
    .wrapper7 {
        
        position: relative;
        color: #ffffff;
        width: 100%;
        height: 125vh;
        padding: 0;
        .background{
            width: 100%;
            height: 100%;
        }

        .contents-block {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            padding: 1rem 0;
            width: 70rem;

            .quote {
                margin-bottom: 1.9rem;
            }

            .desc {
                color: #ffffff;
                font-size: 1.5rem;
                text-align: center;
                line-height: 2rem;
                margin: 0;
                padding: 0 1rem;
            }

            .profile-box {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;

                .profile-img {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 25px;
                    overflow: hidden;
                    margin: 1rem auto;
                }
                .career {
                    font-size: 0.8rem;
                    margin-top: 0.5rem;
                }
            }
        }

    @media screen and (max-width: 575px){
        .contents-block {
            width: 100%;
        }
    }

    @media screen and (min-width: 576px) and (max-width: 767px){

        .contents-block {
            width: 32rem;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px){
        padding: 0;
        .contents-block {
            width: 45rem;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1200px){
        padding: 0;

        .contents-block {
            width: 60rem;

        }
    }
    }
}

.section8 {

    .wrapper8 {
        padding: 8rem 0;
        .section8__block-top {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            .text-contents-box {
                display: inherit;
                flex-flow: inherit;
                justify-content: inherit;
                align-items: inherit;
                .title, .desc {
                    text-align: center;
                }
            }

        }

        .section8__block-bottom {
            display: flex;
            flex-flow:column nowrap;
            justify-content: center;
            align-items: center;
            padding: 3rem 0;

            input,textarea {                     
                border-radius: 25px;
                padding: 0.9rem 1rem;
                outline: none;
                border: 1px solid  #8080807a;
            }

            & > div {
                margin: 0.6rem;
            }

            .input-box2 {
                display: inherit;
                width: inherit;

                input {
                    width: inherit;
                }
            }

            .input-box3 {
                display: inherit;
                width: inherit;

                textarea {
                    display: inherit;
                    width: inherit;
                }
            }

            .input-box4 {
                display: inherit;
                width: inherit;

                input {
                    @include buttonStyle;
                    width: inherit;
                    cursor: pointer;
                    
                }
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 576px){
        width: 100%;
        padding: 0 0;
        .section8__block-top {
            width: 100%;
            padding: 0 0.8rem;

            .text-contents-box {
                width: 100%;
                
                .title { 
                    font-size: 1.8rem;
                }
            }
        }

        .section8__block-bottom {
            width: 95%;
            padding: 0;

            .input-box1 {
                width: inherit;

                input {
                    &:first-child {
                        margin-bottom : 9.6px * 2;
                    }
                }
            }

            .box {
                width: inherit;

                input {
                    width: inherit;
                }
            }
        }
    }

    @media screen and (min-width: 576px) and (max-width: 767px){
        .wrapper8 {
            padding: 8rem 0;
            .section8__block-top {
    
                .text-contents-box {
                    width: 40rem;
                }
            }
    
            .section8__block-bottom {
                width: 31rem;

                .input-box1 {
                    width: inherit;
    
                    input {
                        width: inherit;
                        
                        &:first-child {
                            margin-bottom : 9.6px * 2;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px){
        .wrapper8 {
            padding: 8rem 0;
            .section8__block-top {
    
                .text-contents-box {
                    width: 40rem;
                }
            }
    
            .section8__block-bottom {
                width: 42rem;

                .input-box1 {
                    display: inherit;
                    width: inherit;
                    justify-content: space-between;

                    input {
                        flex: 0.48;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: 992px) and (max-width: 1200px){
        .wrapper8 {
            padding: 8rem 0;
            .section8__block-top {
    
                .text-contents-box {
                    width: 30rem;
                }
    
            }
    
            .section8__block-bottom {
                // display: flex;
                width: 38rem;

                .input-box1 {
                    display: inherit;
                    width: inherit;
                    justify-content: space-between;

                    input {
                        flex: 0.48;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1200px){
        .wrapper8 {
            padding: 8rem 0;
            .section8__block-top {
    
                .text-contents-box {
                    width: 30rem;
                }
    
            }
    
            .section8__block-bottom {
                // display: flex;
                width: 38rem;

                .input-box1 {
                    display: inherit;
                    width: inherit;
                    justify-content: space-between;

                    input {
                        flex: 0.48;
                    }
                }
            }
        }
    }
}